<!DOCTYPE html>
<html>
<body>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const firebaseConfig = {
          apiKey: "AIzaSyCz3scw8mtF_-abqJzDbpp1gCgltnPEeow",
          authDomain: "hydrophonics-e08e3.firebaseapp.com",
          projectId: "hydrophonics-e08e3",
          storageBucket: "hydrophonics-e08e3.appspot.com",
          messagingSenderId: "132277256816",
          appId: "1:132277256816:web:6bb22840a58c89e5e0eab5",
          measurementId: "G-RQD9180YSF"
        };
        
        firebase.initializeApp(firebaseConfig);
        document
          .getElementById("email")
          .addEventListener("submit", (event) => {
            event.preventDefault();
            const email = event.target.email.value;
            console.log(email)

            firebase
              .auth()
              .sendPasswordResetEmail(email)
              .then(() => {
               
                    alert("LINK HAS BEEN SENT TO YOU")
                    window.location.assign("/login");
                
              })
              .then(() => {
                return firebase.auth().signOut();
              })
              .catch((error)=>{
                console.log(error)
                alert(error)               
              });
            return false;
          });
    });
</script>
<h1>The input element</h1>

<form id ="email" action="/resetpasword" method="post">
  <label >Enter Email</label>
  <input type="text" name="email"><br><br>
  <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the 
server called "action_page.php".</p>

</body>
</html>
