<!DOCTYPE html>
<html>
<body>

<form action="schedule" method="POST">
  <label >Start Time:</label>
  <input type="time" id="appt" name="starttime" required>
  <label >End Time:</label>
  <input type="time" id="appt" name="endtime" required>
  <input type="submit">
</form>



</body>
</html>
